---
# Password used internally for replication.
patroni_replication_password: pleasechangemepleasepleaseplease

# Password used for the superuser ("postgres" by default)
patroni_superuser_password: thisissuperinsecureifyoudonotchangeit