---
# Equnix Metal API token.
equinix_metal_token: thisisnotarealtoken
equinix_metal_project: thisisalsonotarealuuid

# Password used internally for replication.
patroni_replication_password: pleasechangemepleasepleaseplease

# Password used for the superuser ("postgres" by default)
patroni_superuser_password: thisissuperinsecureifyoudonotchangeit

# Pacemaker management password. Randomly generated but unhashed.
pacemaker_hacluster_password: pleasechangemealso

# Internal subnet
internal_subnet: "10.20.30.0/24"

# Elastic IP settings
elastic_ip_lb: "10.20.30.120"
elastic_ip_subnet: "10.20.30.0"
elastic_ip_lb_public: "123.32.13.20"